<h1>SHOWCASE</h1>

<section class="showcase {{ setCarousel ? 'carousel' }} {{ classContainer }}">
  <div class="showcase__label">
    <h3 class="showcase__title">{{ prodTitle }}</h3>
    <p class="showcase__subtitle">{{ prodSubTitle }}</p>
  </div>

  {% set products = Products({
    'filter': prodFilter,
    'order': prodOrder,
    'limit': 12,
    'categories': prodCategories
  }) %}

  <div class="showcase__content">
    {% if products|length > 0 %}
      <ul class="showcase__list {{ listModifier ? listModifier : 'showcase__list--' ~ pages.current }}">
        {% for product in products %}
          <li class="showcase__item">
            {% element 'snippets/product' {
              'product': product,
              'setCarousel': setCarousel
            } %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</section>
