<div class="catalog-header">
    
    {% if banner.title %}
        <div class="banner banner-title {% if not settings.enable_banner_default %}mobile-off{% endif %}">
            {{ banner.title }}
        </div>
    {% endif %}
    
    <h1 class="catalog-name">{{ category.name }}</h1>
    
    {% if products|length > 0 %}
    
        {% if breadcrumb %}
            {% element 'snippets/breadcrumb' %}
        {% endif %}
        
        <div class="system-filter">
            {% if settings.compare %}
                <a href="/loja/comparador.php?loja={{store.id}}&IdDep={{category.id}}" class="button-compare">{{ Translation("comparar_produto") }}</a>
            {% endif %}
            
            {% element 'snippets/filter' {
                'brands': category.brands
            } %}
        </div>
    
        <div class="pagination">
            {% element 'snippets/paginate' %}
        </div>
    {% endif %} 
    
    {% if category.small_description %}
    <div class="category-description">
        {{ category.small_description }}
    </div>
    {% endif %}    
</div>

{% if products|length > 0 %}

    <div class="catalog-content row">
        {% element 'showcase-catalog' {
            "products": products
        } %}
    </div>

    <div class="catalog-footer pagination">
        {% element 'snippets/paginate' %}
    </div>

{% else %}
    
    <div class="catalog-empty">
        <img src="{{ asset('img/catalog-empty.svg') }}" alt="Sem produtos" width="150" height="150">
        <p>{{ Translation('nenhum_resultado') }}</p>
    </div>

{% endif %}

{% if banner.bottom %}
    <div class="banner banner-bottom {% if not settings.enable_banner_default %}mobile-off{% endif %}">
        {{ banner.bottom }}
    </div>
{% endif %}