// Default config for root element DOM
html
  font-family $font-montserrat
  font-size 16px
  box-sizing border-box

*
  outline none

.botao-prosseguir-compra
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  background-color: $color1;

  +max-screen( $screen-sm )
    width: 100%;

.botao-continuar-comprando
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    cursor pointer
    color: #fff;
    background-color: $color2;

    +max-screen( $screen-sm )
        width: 100%;
        margin-bottom: 5px;

// Error
.blocoAlerta
  display: block;
  margin: 0 0 10px;
  order 4
  color red
  font(13px)

  a
    color inherit

// Implantation messages
.infobox
  position: fixed;
  right: 0;
  bottom: 5px;
  width: 420px;
  padding: 10px 30px 10px 60px;
  border-bottom: 4px solid rgba(0,0,0,0.3);
  opacity .9
  z-index: 15;
  transition: opacity .3s
  color: #fff;
  background-color: #fff;
  font(13px)

  &:hover
    opacity .2

  > span
    &:first-child
      display none

  > a
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    display block
    width: 25px;
    height: 25px;
    font-size: 0;
    // background-image url(../img/default/icon-close.svg)
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;

  &.danger
    background-color #dca438

    &:before
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 50px;
      height: 100%;
      background-color: #F5B740;
      // background-image url(../img/default/icon-warning.svg)
      background-size: 30px 30px;
      background-repeat: no-repeat;
      background-position: center;


div[data-tray-tst="loja_implantacao_aviso"]
  margin 60px 0

// Success
.blocoSucesso
  display: block;
  margin: 0 0 10px;
  color $color1
  font(13px)

// Reset in description product and extra pages
.board_htm
  width 100% !important
  word-break: break-word;

  ul
    margin-top 16px
    margin-bottom 16px
    padding-left 40px
    list-style disc

#modal-video
  visibility hidden
  opacity 0

    &.active
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility visible
      opacity 1
      background-color: rgba(0,0,0,.8);
      z-index: 999;

    .modal-content
      width 100%
      height 100%

    iframe
      width 100%
      height 100%
      border none

#modal-close
  position: absolute;
  top: 80px;
  right: 45px;
  width: 36px;
  height: 36px;
  border: none;
  background: none;
  cursor: pointer;

// Adding for normalize reset
img
  max-width 100%

figure
  margin 0

*,
*:before,
*:after
  box-sizing inherit

ul
  margin 0
  padding 0
  list-style none

p
  margin 0

abbr
  text-decoration none

b, strong
  font-weight 700

h1,
h2,
h3,
h4,
h5,
h6
  margin 0
  font-weight: 500

.pointer
  cursor pointer

/*
    Reset Tray
    applied for default elements of tray platform system
*/
#modal,
#modal-form,
.modal.cart-preview
  display none

.tray-hide
  display none !important

#NavLogoTray
  font-size 0
  text-align center
  background #ccc

  .logotray-message
    font-family "Verdana", sans-serif
    font-size 9px
    font-weight 400
    line-height 20px
    text-transform uppercase
    color #666

    > a
      font-weight 700 !important
      text-decoration none
      color #666

#loading-product-container,
#loading-tab-container
  position absolute
  display none
  width 100%
  height 100%
  margin 0
  text-align center
  opacity .8
  z-index 1000
  background #fff
