
// abstracts
@import "abstracts/variables.styl"
@import "abstracts/mixins.styl"

// base
@import "base/reset.styl"
@import "base/global.styl"
@import "base/typography.styl"

// components

// layout
@import "layout/header.styl"
@import "layout/footer.styl"

// pages
@import "pages/home.styl"

