// Center content passing number and margin
center( widthSize = $screen-md, marginTop = 0, marginBottom = 0 )
  max-width widthSize
  margin marginTop auto marginBottom

  +max-screen( $screen-md + 2em )
      max-width 98%

// Center content with placeholder
$center
  max-width: $screen-md
  margin 0 auto

// Specify the font and size
font( fSize = 1rem, fWeight = 400, fFamily = $font1 )
  font fWeight fSize fFamily

// Background image
bgImage( path, wSize = 100%, hSize = 100% )
  display block
  width wSize
  height hSize
  background-image url(path)

// Customize placeholder style
placeHolder( setColor )
  &::-webkit-input-placeholder { color: setColor; }
  &::-moz-placeholder { color: setColor; }
  &:-ms-input-placeholder { color: setColor; }
  &:-moz-placeholder { color: setColor; }

/*
    Customize scrollbar style, only chrome browser
    doubts: https://css-tricks.com/custom-scrollbars-in-webkit/
*/
scroll( wSize, barColor, bgColor, hSize = auto )
  &::-webkit-scrollbar { width: wSize; height: hSize; }
  &::-webkit-scrollbar-track { background-color: bgColor; border-radius: 20px; }
  &::-webkit-scrollbar-thumb { background-color: barColor; border-radius: 20px; }
  // &::-webkit-scrollbar-button       { /* 2 */ }
  // &::-webkit-scrollbar-track-piece  { /* 4 */ }
  // &::-webkit-scrollbar-corner       { /* 6 */ }
  // &::-webkit-resizer                { /* 7 */ }

/*
    Media queries
    usage: +screen(768px, 1280px)
*/
screen( minWidth, maxWidth )
  @media screen and ( min-width: minWidth ) and ( max-width: maxWidth )
    { block }

max-screen( maxWidth )
  @media screen and ( max-width: maxWidth )
    { block }

min-screen( minWidth )
  @media screen and ( min-width: minWidth )
    { block }

// iPad 3 and 4 Portrait and Landscape
ipad-screen( minWidth = 768px, maxWidth = 1024px )
  @media only screen and ( min-device-width: minWidth ) and ( max-device-width: maxWidth ) and ( -webkit-min-device-pixel-ratio: 2 )
    { block }

// iPhone 5 and 5s Portrait and Landscape
iphone-screen( minWidth = 320px, maxWidth = 568px )
  @media only screen and ( min-device-width: minWidth ) and ( max-device-width: maxWidth ) and ( -webkit-min-device-pixel-ratio: 2 )
    { block }
