// colors
$color1 = #003e6b;
$color2 = #d21848;

$color-gray = #9099a2;
$color-gray-dark = #535353;

$color-white = #ffffff;
$color-black = #000000;

// screen sizes
$screen-md = 1280px;
$screen-sm = 768px;
$screen-xs = 375px;
